/.idea
/.vscode
/node_modules/
/*/node_modules/
/*/jspm_packages/
/*/.yarn-integrity

# Private
*.dev.*
/*/*.dev.*
**/*input*.txt
**/*_test.*
**/*/__pycache__
**/*/*_bin

# Logs
/*/logs
/*/*.log
/*/npm-debug.log*
/*/yarn-debug.log*
/*/yarn-error.log*
/*/lerna-debug.log*
/*/.pnpm-debug.log*

# Rust
/*/**/target